<!DOCTYPE html>
<html>

<head>
    <link rel="shortcut icon" href="{{ url_for('static', filename='icon.png') }}">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='icon.png') }}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
    <title>
        Smart Amplifier
    </title>
</head>

<body>
    <div class="devicetable list-group">
        <a class="device list-group-item active" style="text-align: center; color: white;">Paired
            amplifiers</a>
        {% for amplifier in amplifiers %}
        <a style="text-align: center" class="device list-group-item">{{ amplifier }}</a>
        {% endfor %}
    </div>
</body>
<script>
    if (window.history.replaceState) {
        window.history.replaceState(null, null, window.location.href);
    }
</script>

</html>